.about {
    padding-bottom: 2rem;

    .about_bio-image{
        height: 50vh;
        width: 100%;

        background: // gradient left 0.9 to right 0.3 
        linear-gradient(
            to right, 
            rgba($primary-color, 0.9), 
            rgba($primary-color, 0.5)
            ), 
            url("../img/bg_foto.jpg") center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
        margin-bottom: 2rem;
    }
    }

    .about_bio{
        width: 80%;
        text-align: center;

        .text-secondary{
            padding-bottom: 1rem;
        }
    }

    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr; //fr - 1fr is for 1 part of the available space.
        gap:2rem;

        .jobs_job{
            background: lighten($primary-color,10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2, h3{
                margin: 0.5rem 0; // (top&bottom + left&right) 0.5x Relative to font-size of the root element
            }

            h6 {
                margin: 0.3rem 0;
                font-weight: 700;
                font-size: 1em; // em - Relative to the font-size of the element (2em means 2 times the size of the current font).                
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    // copyright position in vertical
    footer { 
         transform: 
         rotate(90deg)
         translate(-5rem, -5rem);
    }
}