.home {
    height: 100%;
    padding-top: 40vh; //40% of the viewport height
    overflow: hidden; //property controls what happens to content that is too big to fit into an area.
    align-items: center;
    text-align: center;
    
    background: // gradient left 0.9 to right 0.3 
        linear-gradient(
            to right, 
            rgba($primary-color, 0.9), 
            rgba($primary-color, 0.3)
            ), 
            url("../img/bg_foto.jpg") center top;
    background-size: cover;

    .home_name {
        font-size: 5rem; // 5x Relative to font-size of the root element
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color); // function @if white | @else black; //line

        .home_last_name {
            color: $secondary-color;
            font-weight: 700;
        }

    }

}
